@using FoodAdviserModels.Models
@using Food_Adviser.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Newtonsoft.Json
@using System.Linq

@inject NavigationManager navigationManager
@inject IMealService MealService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Food Adviser</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>*@
    </nav>
</div>


<SfButton @ref="button" CssClass="e-success" IconCss="e-btn-sb-icons e-add-icon" IsPrimary="true" Content="Search" @onclick="@(SearchMeals)"></SfButton>

<div>
Diet
<SfMultiSelect Mode="VisualMode.CheckBox" TValue="string[]" TItem="TypeFilter" Placeholder="Select a Diet" PopupHeight="450px" PopupWidth="250" DataSource="@Diet">
    <MultiSelectEvents TItem="TypeFilter" TValue="string[]" OnValueSelect="@OnValueSelecthandler" OnValueRemove="@OnValueRemovehandler"></MultiSelectEvents>
    <MultiSelectFieldSettings Value="ID" Text="Name"></MultiSelectFieldSettings>

</SfMultiSelect>
</div>
<div>
    Dish
<SfMultiSelect Mode="VisualMode.CheckBox" Placeholder="Select a type of Dish" TValue="string[]" TItem="TypeFilter" DataSource="@Dish">
    <MultiSelectEvents TItem="TypeFilter" TValue="string[]" OnValueSelect="@OnValueSelecthandler" OnValueRemove="@OnValueRemovehandler"></MultiSelectEvents>
    <MultiSelectFieldSettings Value="ID" Text="Name"></MultiSelectFieldSettings>

</SfMultiSelect>
</div>

<div>
    Cuisine
<SfMultiSelect Mode="VisualMode.CheckBox" Placeholder="Select a Cuisine" TValue="string[]" TItem="TypeFilter" DataSource="@Cuisine">
    <MultiSelectEvents TItem="TypeFilter" TValue="string[]" OnValueSelect="@OnValueSelecthandler" OnValueRemove="@OnValueRemovehandler"></MultiSelectEvents>
    <MultiSelectFieldSettings Value="ID" Text="Name"></MultiSelectFieldSettings>

</SfMultiSelect>
</div>

<div>
    Intolerance
<SfMultiSelect Mode="VisualMode.CheckBox" TValue="string[]" Placeholder="Select a Intolerance" TItem="TypeFilter" DataSource="@Intolerance">
    <MultiSelectEvents TItem="TypeFilter" TValue="string[]" OnValueSelect="@OnValueSelecthandler" OnValueRemove="@OnValueRemovehandler"></MultiSelectEvents>
    <MultiSelectFieldSettings Value="ID" Text="Name"></MultiSelectFieldSettings>

</SfMultiSelect>
</div>

<div>
    
    <div style="height:300px;overflow-y:scroll">
        <p> Ingredients you have: </p>
        <input type="text" placeholder="Enter an Ingredient" @bind="includeIngredient" />
        <SfButton @ref="button" CssClass="e-success" IconCss="e-btn-sb-icons e-add-icon" @onclick="AddIncludeIngredient"></SfButton>
        <ul>
            @foreach(var i in includeIngredients)
            {
                <li>
                   <SfButton @ref="button" CssClass="e-success" IconCss="e-btn-sb-icons e-add-icon" IsPrimary="true" Content="@i" @onclick="@((args) => RemoveIncludeIngredient(args,i))"></SfButton>
                </li>
            }
        </ul>
    </div>
    
    <div style="height:300px;overflow-y:scroll">
        <p> Ingredients you don't want: </p>
        <input type="text" placeholder="Enter an Ingredient" @bind="excludeIngredient" />
        <SfButton @ref="button2" CssClass="e-success" IconCss="e-btn-sb-icons e-add-icon" @onclick="AddExcludeIngredient"></SfButton>
        <ul>
            @foreach(var i in excludeIngredients)
            {
                <li>
                   <SfButton @ref="button" CssClass="e-danger" IconCss="e-icons e-circle-remove " IsPrimary="true" IconPosition="@IconPosition.Right" Content="@i" @onclick="@((args) => RemoveExcludeIngredient(args,i))"></SfButton>
                </li>
            }
        </ul>
    </div>
</div>




@code {
    [Parameter]
    public List<TypeFilter> Diet{ get;set;} 

    [Parameter]
    public List<TypeFilter> Intolerance{ get;set;} 

    [Parameter]
    public List<TypeFilter> Cuisine{ get;set;} 

    [Parameter]
    public List<TypeFilter> Dish{ get;set;} 

    [Parameter]
    public List<List<TypeFilter>> Filters{ get;set;}

    private String includeIngredient;
    private String excludeIngredient;
    private SfButton button;
    private SfButton button2 ;

    [Parameter]
    public List<String> includeIngredients { get; set; } = new List<string>();

    [Parameter]
    public List<String> excludeIngredients { get; set; } = new List<string>();

    [Parameter]
    public MealSearchFiltered mealSearchFiltered { get; set; }  = new MealSearchFiltered();

    [Inject]
    ProtectedSessionStorage sessionStorage{ get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        GetFilters();
    }

    protected override async Task OnParametersSetAsync() => await GetFilters();

    private async Task<List<List<TypeFilter>>> GetFilters()
    {
        List<List<TypeFilter>> filters = new List<List<TypeFilter>>();
        Diet = getValues(typeof(Filter.Diet));
        Intolerance = getValues(typeof(Filter.Intolerance));
        Cuisine = getValues(typeof(Filter.Cuisine));
        Dish = getValues(typeof(Filter.Dish));
        filters.Add(Diet);
        filters.Add(Intolerance);
        filters.Add(Cuisine);
        filters.Add(Dish);
        return Filters=filters;
    }

    private async Task SearchMeals()
    {

        Meal meal = new Meal();
        
        mealSearchFiltered.typeFilters = Filters;
        mealSearchFiltered.includeIngredients = includeIngredients;
        mealSearchFiltered.excludeIngredients = excludeIngredients;
        string search = System.Text.Json.JsonSerializer.Serialize(mealSearchFiltered);


        sessionStorage.DeleteAsync("meals");
        meal = await MealService.GetMealsByFilter(search);
        var ids = meal.recipes.Select(x=>x.id).ToList();
        await sessionStorage.SetAsync("meals",ids);
        navigationManager.NavigateTo($"/search/filters");
    }



    private List<TypeFilter> getValues(Type num)
    { 
        List<TypeFilter> typeFilters = new List<TypeFilter>();

        foreach(int d in Enum.GetValues(num))
        {
            TypeFilter tf = new TypeFilter();
            tf.ID=d;
            tf.Name = Enum.GetName((num),d);
            tf.isChecked = false;
            typeFilters.Add(tf);
        }

        return typeFilters;
    }

    private void AddIncludeIngredient(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        if(!includeIngredients.Contains(includeIngredient) && includeIngredient != null)
            includeIngredients.Add(includeIngredient);
    }

    private void RemoveIncludeIngredient(Microsoft.AspNetCore.Components.Web.MouseEventArgs args, String s)
    {
        includeIngredients.Remove(s);
    }

    private void AddExcludeIngredient(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        if(!excludeIngredients.Contains(excludeIngredient) && excludeIngredient != null)
            excludeIngredients.Add(excludeIngredient);
    }

    private void RemoveExcludeIngredient(Microsoft.AspNetCore.Components.Web.MouseEventArgs args, String s)
    {
        excludeIngredients.Remove(s);
    }



    private void OnValueSelecthandler(SelectEventArgs<TypeFilter> args)
    {
        // Here you can customize your code
        args.ItemData.isChecked = true;
    }

    private void OnValueRemovehandler(RemoveEventArgs<TypeFilter> args)
    {
        // Here you can customize your code
        args.ItemData.isChecked = false;
    }
}
