@page "/search/recipe/{id}"
@using FoodAdviserModels.Models
@using Food_Adviser.Services

@inject IMealService MealService

@if (meals == null)
{
    <p><em>No recipe was found.</em></p>
}
else
{
    @foreach (var meal in meals.recipes)
    {
        <div class="container">
            <img src=@meal.image alt="">
        </div>
        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <span></span>
                            <h2>@meal.title</h2>
                            <div class="receipe-duration">
                                <h6>Prep: @meal.readyInMinutes mins</h6>
                                @if (@meal.servings == 1)
                                {
                                    <h6>Servings:  @meal.servings person</h6>
                                }
                                else
                                {
                                    <h6>Servings:  @meal.servings people</h6>
                                }
                                <h6>Price: @meal.pricePerServing £ p/servings</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="receipe-ratings text-right ">
                            <div class="ratings">
                                <i class="fa" aria-hidden="true"></i>
                            </div>
                            <a href="@meal.spoonacularSourceUrl" class="btn delicious-btn">Ratink: @meal.spoonacularScore / 100</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        @foreach (var steps in meal.analyzedInstructions)
                        {
                            @foreach (var s in steps.steps)
                            {
                                <div class="single-preparation-step d-flex">
                                    <h4>@s.number.</h4>
                                    <p>@s.step</p>
                                </div>
                            }
                        }
                    </div>
                    <!-- Ingredients -->
            <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingredients</h4>
                            <!-- Custom Checkbox -->
                            @foreach (var i in meal.extendedIngredients)
                            {

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="@i.id">
                                    <label class="custom-control-label" for="@i.id">  @i.original @i.name</label>
                                </div>

                            }
                        </div>
                    </div>


                </div>
            </div>
        </div>

    }

}



@code {

    [Parameter]
    public String id { set; get; }

    [Parameter]
    public Meal meals { set; get; }

    protected override async Task OnInitializedAsync()
    {
        meals = await MealService.GetMealById(id);
    }

}
